@using LittleStarBlazor.Models

<div class="prog-card" data-aos="fade-up">
    <div class="prog-ribbon ribbon-@Program.ColorClass">@Program.AgeRange</div>
    <div class="prog-img-wrap">
        <img src="@Program.ImagePath" alt="@Program.Title" />
        <div class="prog-img-overlay"></div>
    </div>
    <div class="prog-body prog-body-@Program.ColorClass">
        <div class="prog-icon pi-@Program.ColorClass"><i class="@Program.IconClass"></i></div>
        <h3>@Program.Title</h3>
        <p>@Program.Description</p>
        <div class="prog-meta">
            <span class="pm-item"><i class="fas fa-birthday-cake"></i> @Program.AgeRange</span>
            <span class="pm-item"><i class="fas fa-clock"></i> @Program.Duration</span>
        </div>
        <a href="#contact" class="prog-btn pbtn-@Program.ColorClass">Enroll Now <i class="fas fa-arrow-right"></i></a>
    </div>
</div>

@code {
    [Parameter] public ProgramInfo Program { get; set; } = new();
}
